{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>LITReview - critiques litéraires</title>
<link rel="stylesheet" href="{% static '/base_app/stylesheets/feed.css' %}" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<!--    <img src="{% static 'base_app/images/fond_bibli_resized.png' %}" alt="" class="background">-->
    <header>
      <div id="logo"><img src="{% static 'base_app/images/logo2.png' %}" alt=""></div>
      <nav> <a class="link" href="#">Flux</a><a class="link" href="#">Posts</a> <a class="link" href="#">Abonnements</a>
        <a class="link" href="{% url 'logout' %}">Se déconnecter</a>
      </nav>
    </header>
    <section id="feed">
      {% block flux-posts %}{% endblock %}
    </section>
    <footer>
    <p>&copy; Copyright 2021 - Website powered By  LITReview</p>
    </footer>
  </body>
</html>
