{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>LITReview - critiques litéraires</title>
<link rel="stylesheet" href="{% static '/base_app/stylesheets/feed.css' %}" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <header>
      <div id="logo"><img src="{% static 'base_app/images/logo2.png' %}" alt=""></div>
      <nav> <a class="link" href="{% url 'base_app:feed' %}">Flux</a> <a class="link" href="#">Posts</a> <a class="link" href="#">Abonnements</a>
        <a class="link" href="{% url 'logout' %}">Se déconnecter</a>
      </nav>
    </header>
    <div id="critic_buttons">
        <button id="ask_critic"><a class="critic_links" href="{%url 'base_app:creation_ticket'%}">
            Demander une critique</a></button>
        <button id="create_critic"><a class="critic_links" href="{%url 'base_app:creation_critic'%}">
            Créer une critique</a></button>
    </div>

    <section id="feed">
      {% block flux-posts %}{% endblock %}
    </section>
    <footer>
    <p>&copy; Copyright 2021 - Website powered By  LITReview</p>
    </footer>
  </body>
</html>
