{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a review</title>
    <link rel="stylesheet" href="{% static '/base_app/stylesheets/create_a_review_from_ticket.css' %}" type="text/css">

</head>
<body>
<img src="{% static 'base_app/images/fond_bibli_resized.png' %}" alt="" class="background">
<h2>Répondre au ticket de {{ticket.user}}</h2>

<div class="rectangle" id="book_field"></div>
<p class="title_fields" id="title_book_field">Livre / Article</p>

<div class="rectangle" id="review_field"></div>
<p class="title_fields" id="title_review_field">Critique</p>

    <div class="title">
        <div class="fieldWrapper" id="title">
            <label for="{{ form_ticket.title.id_for_label }}">Title:</label>
            {{ ticket.title }}
        </div>
    </div>

    <div class="description">
        <div class="fieldWrapper" id="description">
            <img src="{% static '/base_app/PUBLIC_IMAGES/' %}{{ticket.image_path}}" alt="" id="image_ticket">
            <label for="{{ form_ticket.description.id_for_label }}">Description:</label>
            <p id="ticket_description">{{ ticket.description }}</p>

        </div>
    </div>

<!--    <img src="{% static '/base_app/PUBLIC_IMAGES/' %}{{ticket.image_path}}" alt="" id="image_ticket">-->

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form_review.non_field_errors %}
        <div class="errors">
             {{ field }}
        </div>
    {% endfor %}
    <div class="headline">
        <div class="fieldWrapper" id="headline">
            {{ form_review.headline.errors }}
            <label for="{{ form_review.headline.id_for_label }}">Headline:</label>
            {{ form_review.headline }}
        </div>
    </div>

    <div class="rating">
        <div class="fieldWrapper" id="rating">
            {{ form_review.rating.errors }}
            <label for="{{ form_review.rating.id_for_label }}">Rating:</label>
<!--            {{ form_review.rating }}-->
            {% for item in  form_review.rating %}
                {{item}}
            {% endfor %}

        </div>
    </div>

    <div class="body">
        <div class="fieldWrapper" id="body">
            {{ form_review.body.errors }}
            <label for="{{ form_review.body.id_for_label }}">Body:</label>
            <textarea id="id_body" name="body" cols="40" rows="10" required=""></textarea>
        </div>
    </div>

    <button class="validation-button" type="submit">Créer la critique</button>
</form>


<button class="back_feed"><a id="back_feed" href="{% url 'base_app:feed' %}">Retour au flux</a></button>

</body>
</html>