{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demander une critique</title>
    <link rel="stylesheet" href="{% static '/base_app/stylesheets/creation_ticket.css' %}" type="text/css">
</head>
<body>
<img src="{% static 'base_app/images/fond_bibli_resized.png' %}" alt="" class="background">
<h2>Créer un ticket</h2>
<form method="post" enctype="multipart/form-data" action="{% url 'base_app:feed' %}">
    {% csrf_token %}
    {% for field in form.non_field_errors %}
        <div class="errors">
             {{ field }}
        </div>
    {% endfor %}
    <div class="title">
        <div class="fieldWrapper" id="title">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
        </div>
    </div>

    <div class="description">
        <div class="fieldWrapper" id="description">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description:</label>
<!--            {{ form.description }}-->
            <textarea id="id_description" name="description" cols="40" rows="10" required=""></textarea>

        </div>
    </div>

    <div class="image">
        <div class="fieldWrapper" id="image">
            {{ form.image.errors }}
            <label for="{{ form.image.id_for_label }}">Image:</label>
            <input type="file" name="image" accept="image/*" required="" id="id_image">
        </div>
    </div>

    <button class="validation-button" type="submit">Créer le ticket</button>
</form>
<button class="back_feed"><a id="back_feed" href="#">Retour au flux</a></button>

</body>
</html>