{% extends 'base_app/base.html' %}
{% load static %}
{% block flux-posts %}
    <link rel="stylesheet" href="{% static '/base_app/stylesheets/followers.css' %}" type="text/css">
    <div class="content_search">
        <div id="search_title">Suivre d'autres utilisateurs</div>
            <form action= "{% url 'base_app:add_follower' %}" method="get">
<!--                {% csrf_token %}-->
                <div id="form_content">
                    <input type="text" name="username" placeholder="Nom de l'utilisateur" id="search">
<!--                                    <button class="validation-button" type="submit"-->
<!--                onclick="window.location.href='{% url 'base_app:add_follower' %}';">-->
<!--                    S'abonner-->
<!--                </button>-->
                    <button class="validation-button" type="submit">
                        S'abonner
                    </button>
                </div>
            </form>
        <p id="filling_gap"> blabla </p>
    </div>

    <div class="content_lists">
        <div class="tableau" id="abonnements">
            <h3>Abonnements</h3>
            <ul class="list_users">
                {% for user in users.I_follow %}
                    <li class="line_user">
                        <p class="username">{{user.followed_user}}</p>
                        <button class="button_unfollow"
                                onclick="window.location.href=
                                '{% url 'base_app:delete_follower' user.pk %}';">
                            Désabonner
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rectangle" id="background_abonnements"></div>
        <div class="tableau" id="abonnés">
            <h3>Abonnés</h3>
            <ul class="list_users">
                {% for user in users.that_follow_me %}
                <li class="line_user">
                    <p class="username">{{user.user}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rectangle" id="background_abonnements"></div>

    </div>
    {% endblock %}