{% load static %}
<div class="review">
    <div class="top-review">
        <div>{{post.user.username}} a posté une critique </div>
        <div>{{post.time_created}}</div>
    </div>
    <div id="headline_review">
        <p id="headline">{{post.headline}}</p>
        <img id="rating_stars" src="{% static '/base_app/images/stars'%}{{post.rating}}.png">
    </div>
    <div class="review-content">
        <p class="description">{{post.body}}</p>
    </div>
    <section class="ticket_inside_review">
        <div class="ticket_in_review">
            <div class="top-ticket-review">
                <div>Ticket - {{post.ticket.user.username}}</div>
                <div>{{post.ticket.time_created}}</div>
            </div>
            <h3> {{post.ticket.title}} </h3>
            <div class="ticket-content-review">
                <img src="{% static '/base_app/PUBLIC_IMAGES/' %}{{post.ticket.image_path}}"
                     id="ticket_inside_review_image">
                <p class="description">{{post.ticket.description}}</p>
            </div>
        </div>
    </section>
    {% if post.user == request.user %}
        <div class="change_buttons">
            <button class="end_button"><a class="modify" href="{%url 'base_app:modify_review' review_id=post.pk%}">Modifier</a></button>
            <button class="end_button"><a class="delete" href="{%url 'base_app:delete_review'%}">Supprimer</a></button>
        </div>
    {% endif %}
</div>
