{% load static %}
<div class="ticket">
    <div class="top-ticket">
        <div>{{post.user.username}} a demandé une critique </div>
        <div>{{post.time_created}}</div>
    </div>
    <h3> {{post.title}} </h3>
    <div class="ticket-content">
        <img src="{% static '/base_app/PUBLIC_IMAGES/' %}{{post.image_path}}">
<!--        <img src="../../{{post.image}}">-->
        <p class="description">{{post.description}}</p>
    </div>
<!--                <a href="#" onClick="myTabs.next(); return false">Come back to first tab</a> </article>-->
</div>
