{% load static %}
{% load display_create_critic_button %}

<div class="ticket">
    <div class="top-ticket">
        <div>{{post.user.username}} a demandé une critique </div>
        <div>{{post.time_created}}</div>
    </div>
    <h3> {{post.title}}</h3>
    <div class="ticket-content">
        <img src="{{post.image}}" id="ticket_image">
        <p class="description">{{post.description}}</p>
        {% if not post.pk|has_review %}
            <button id="add_critic"
                    onclick="window.location.href='{% url 'base_app:create_review_from_ticket' ticket_id=post.pk %}';">
                    Créer une critique
            </button>
        {% endif %}
    </div>
    {% if post.user == request.user %}
        <div class="change_buttons">
            <button class="end_button"><a class="modify" href="{%url 'base_app:modify_ticket' ticket_id=post.pk %}">
                Modifier
            </a></button>
            <button class="end_button" id="delete"
                onclick="window.location.href='{% url 'base_app:ask_delete_ticket' ticket_id=post.pk %}';">
                Supprimer
            </button>
        </div>
    {% endif %}
</div>
