@font-face{
    font-family: 'Apple Chancery';
    src: url('Apple Chancery.ttf');
}

#background{
    width:600px;
    height:470px;
    background: grey;
    margin-top: 1%;
    margin-left: 16%;
}
.content{
    font-family: 'Apple Chancery';
    text-shadow: 2px 2px 4px white;
    color: black;
}

h2{
    font-size: 40px;
    font-weight: bold;
    margin-left: 37%;
    margin-top: -52%;
}

.fieldWrapper{
    font-size: 30px;
    font-weight: bold;
}

.title{
    position: relative;
    margin-left: 35%;
    margin-top: -5%;
}

.description{
    margin-left: 35%;
    margin-top: 0%;
}

#false_description{
    width: 50px;
}

#id_description{
    margin-left: 0%;
    margin-top: -5%;
}

.image{
    margin-top: 1%;
    margin-left: 35%;
}

#id_image{
    margin-left: 1%;
    margin-top: 0%;
    color: black;
    font-family: 'Apple Chancery';
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px 4px white;
}

.validation-button{
    font-family: 'Apple Chancery';
    font-weight: bold;
    margin-top: 1%;
    margin-left: 40%;
    border-radius: 15px;
    color: black;
    background: gold;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;

}

.validation-button:hover{
    background: grey;
}

.errors{
    position: absolute;
    left: 280px;
    top: 320px;
    color: black;
    text-shadow: 2px 2px 4px red;
    font-weight: bold;
    font-size: 22px;

}

.back_feed{
    font-family: 'Apple Chancery';
    font-weight: bold;
    position: absolute;
    left: 320px;
    top: 530px;
    border-radius: 15px;
    color: black;
    background: gold;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;

}

.back_feed:hover{
    background: grey;
}
#back_feed{
    color: black;
    text-decoration: none;
}