@font-face{
    font-family: 'Apple Chancery';
    src: url('Apple Chancery.ttf');
}

.content{
    font-family: 'Apple Chancery';
    text-shadow: 2px 2px 4px white;
    color: black;
}

#all_page{
    background: grey;
    width: 100%;
    height:430px;
    margin-left: 0%;
    margin-top: 1%;

}

h2{
    font-size: 35px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: -48%;
}

.fieldWrapper{
    font-size: 22px;
    font-weight: bold;
}

.title{
    position: fixed;
    top: 200px;
    left: 200px;
}

.content_title{
    font-size: 19px;
    font-family: Helvetica;
    text-shadow: none;
    margin-top: -2%;
}

.description{
    position: fixed;
    top: 300px;
    left: 190px;
}

#ticket_description{
    word-wrap: break-word;
    width: 430px;
    margin-top: -1%;
    font-size: 19px;
    font-family: Helvetica;
    text-shadow: none;
}

#image_ticket{
    position: fixed;
    top: 200px;
    left: 450px;
    height: 250px;
}


.validation-button{
    font-family: 'Apple Chancery';
    font-weight: bold;
    border-radius: 15px;
    color: black;
    background: gold;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    margin-top: 31%;
    margin-left: 30%;
}

.validation-button:hover{
    background: grey;
}

.errors{
    position: absolute;
    left: 280px;
    top: 320px;
    color: black;
    text-shadow: 2px 2px 4px red;
    font-weight: bold;
    font-size: 22px;

}

.back_feed{
    font-family: 'Apple Chancery';
    font-weight: bold;
    position: absolute;
    left: 250px;
    top: 560px;
    border-radius: 15px;
    color: black;
    background: gold;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;

}

.back_feed:hover{
    background: grey;
}
#back_feed{
    color: black;
    text-decoration: none;
}

#headline{
    font-size: 22px;
}
.headline{
    position: fixed;
    top: 190px;
    left: 680px;
}

.rating{
    position: fixed;
    top: 230px;
    left: 680px;
}

.body{
    position: fixed;
    top: 280px;
    left: 680px;
}

#id_body{
    position: absolute;
    top: 350;
}

#review_field{
    width:530px;
    height:410px;
    background: grey;
    margin-left: 45%;
    margin-top: -9%;
}

#book_field{
    width:450px;
    height:410px;
    background: grey;
    margin-left: -15%;
    margin-top: -3%;
}

.title_fields{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px grey;

}

#title_book_field{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px white;
    font-family: 'Apple Chancery';
    position: fixed;
    top: 120px;
    left: 200px;
}

#title_review_field{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px white;
    font-family: 'Apple Chancery';
    position: fixed;
    top: 120px;
    left: 750px;
}